{% extends "base.html" %} {% block content %}

<div class="row">
 <!--Card Projects -->
<div class="col-md-6 col-md-offset-3">
    <div class="card">
        <div class="card-image">
            <span class="card-title">{{p.contemt}}</span>
        </div>
        <div class="card-content">
            <p>{{p.subject}}.</p>
        </div>

        <div class="card-action">
            <a href="#" target="new_blank">{{p.created.strftime("%b %d, %Y")}}</a>
            <a href="#" target="new_blank">Link</a>
            <a href="#" target="new_blank">Link</a>
            <a href="#" target="new_blank">Link</a>
            <a href="#" target="new_blank">Link</a>
        </div>
    </div>
</div>
</div>

{% endblock %}