{% extends "base.html" %} {% import "post.html" as post %}

{% block content %}

{% if user and (user.key().id() == p.user.key().id() )  %}
    {{post.post(p, 'inactive')}}
{% else %}	
    {{post.post(p, p.liked, 'hide')}}
{% endif %}

{% if user and p %}
    <div class="sub-work col-md-12">
        <form method="post" role="form" class="comment-form">
            <div class="form-group">
                <label for="comment">Comment:</label>
                <input type="text" class="form-control" id="comment" name="comment" value="">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endif %}

<div class="sub-work col-md-12">
{% for c in comments %}
    <blockquote>
        {% if user.key().id() == c.user.key().id() %}
            <a class="comment-delete btn btn-danger pull-right" href="/blog/deletecomment/{{p.key().id()}}/{{c.key().id()}}">Delete</a>
            <a class="comment-edit btn btn-primary pull-right" href="/blog/editcomment/{{p.key().id()}}/{{c.key().id()}}">Edit</a>
        {% endif %}
        <p>{{ c.comment }}</p>
    </blockquote>
{% endfor %}
</div>

{% endblock %}
