{% extends "base.html" %} {% block content %}
<div class="signupform">
    <h1 class="title">Signup</h1>
    <form method="post">
        <div class="form-group">
        <label for="Username">Username</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="username" value="{{username}}" id="Username" placeholder="Username">
        </div>
        <span class="error">{{error_username}}</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                <input type="password" class="form-control" id="password" value="{{password}}" name="password" placeholder="Password">
            </div>
            <span class="error">{{error_password}}</span>
        </div>
        <div class="form-group">
            <label for="verify">Password</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                <input type="password" class="form-control" id="verify" name="verify" value="{{verify}}" placeholder="Password">
            </div>
            <span class="error">{{error_verify}}</span>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" value="{{email}}" placeholder="Email">
            </div>
            <span class="error">{{error_email}}</span>
        </div>
        <!--<div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div>-->
        <button type="submit" class="btn btn-default signup-button">Submit</button>
    </form>
</div>
{% endblock %}